.MorseButton-pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.MorseButton-front {
  display: block;
  padding: 12px 42px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-8px);
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.MorseButton-pushable:active .MorseButton-front {
  transform: translateY(-2px);
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}